$dejavu-primary: #7cafc2;

.incident-card {
    margin: 1rem;
    padding: 1rem;
}

.trash-can {
    float: right;
    color: #ab4642;
    cursor: pointer;
}

.stacktrace pre {
    background: #282828;
    padding: 1rem;
    color: #f8f8f8;
    border-radius: .3rem;
}

.card-section {
    margin: 1.5rem;
}

.add-button {
    position: fixed !important;
    right: 60px !important;
    bottom: 60px;
}

.add-button button, button.MuiFab-primary-60:hover {
    background-color: $dejavu-primary;
}

body {
    background: $dejavu-primary;
    padding-top: 6.2rem;
}

.search-input {
    margin: 1.5rem;
}

#context-selector {
    min-width: 10rem;
}

.btn-primary, .show>.btn-primary.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled):active  {
    background-color: $dejavu-primary;
    border-color: $dejavu-primary;
}

.btn-primary:hover {
    background-color: darken($dejavu-primary, 10%);
    border-color: darken($dejavu-primary, 10%);
}
