.incident-card {
    margin: 1rem;
    padding: 1rem;
}

.trash-can {
    float: right;
    color: #ab4642;
    cursor: pointer;
}

.stacktrace pre {
    background: #282828;
    padding: 1rem;
    color: #f8f8f8;
    border-radius: .3rem;
}

.card-section {
    margin: 1.5rem;
}

.add-button {
    position: fixed !important;
    right: 60px !important;
    bottom: 60px;
}

body {
    background: #7cafc2;
    padding-top: 6.2rem;
}

.search-input {
    margin: 1.5rem;
}
